@import "tailwindcss";

html, body {
  width: 100vw;
  background-color: aliceblue;
  color: rgb(0, 0, 0);
}

@theme {
  --color-white-50: #d9ecff;
  --color-white-100: #b3d7ff;

}

@layer utilities {
  .flex-center{
    @apply flex items-center justify-center;
  }
}